<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js e MongoDB</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        <ul>
            <li>
                <img src="/logo.png" alt="Gestão de Cursos">
                <p>Gestão de Cursos</p>
            </li>
            <li><a href="/products">Catálogo</a></li>
            <li><a href="/products/create">Novo Curso</a></li>
        </ul>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>
